@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Bold.otf") format("opentype"); /* Corrected Path */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: rgb(248 250 252); /* slate-50 */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(23 23 23); /* neutral-900 */
  }
}

.sf-rounded {
  font-family:
    "SF Pro Rounded",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
