---
import Logo from "../assets/logo.svg";
import Theme from "./Theme.astro";
---

<header
    class="border-b dark:border-neutral-600 h-16 flex gap-2 items-center justify-between px-4 md:px-16 w-full bg-white dark:bg-neutral-800"
>
    <a href="/">
        <img class="h-8 w-auto" src={Logo.src} alt="logo" />
    </a>
    <Theme />
</header>
