@import url(//db.onlinewebfonts.com/c/6a11498dc9e53f4ea8a426b833ce33ee?family=Coco+Gothic);

:root {
  --primary-color: #9fa8d8;
  --secondary-color: #FBFAF5;
}

body {
  margin: 0;
  font-family:  Coco Gothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
