@import url("https://use.typekit.net/cwm2snr.css");

:root {
    --primary-color: #9fa8d8;
    --secondary-color: #EFECD9;
  }

* {
    font-weight: bold;
    background-color: var(--secondary-color);
    text-align: center;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color);
}

.header {
    margin: 1rem;
    color: #444444;
}

.header h1 {
    font-weight: 900;
}

.header span {
    font-family: ligurino, sans-serif;
    font-weight: 400;
}

.btn {
    font-family: ligurino, sans-serif;
    cursor: pointer;
    margin: .7rem;
    width: 17rem;
    height: 2.4rem;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow:.5px .5px 1px 1px var(--secondary-color) inset;

    display: flex;
    justify-content: center;
    align-items: center;
}