---
import ThemeProvider from "../providers/ThemeProvider.astro";

export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Thomas Sabol's portfolio" />
    <meta name="description" content="Tomáš Sabol's portfolio" />
    <link rel="stylesheet" href="/base.css" />
    <title>{title}</title>
  </head>
  <body>
    <ThemeProvider>
      <slot />
    </ThemeProvider>
  </body>
</html>
